{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block page_title %}Prodaja karata{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="{{ asset('css/jquery.seat-charts.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/select.dataTables.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/custom.css') }}" type="text/css" rel="stylesheet" />
    {% stylesheets
    '@admin_lte_css'
    filter='cssrewrite'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-md-6">

            <script type="text/javascript">
                var $performance_id = {{ performance.id }};
                var $performance = {{ performance|json_encode()|raw }};
                var $cene = {{ prices|json_encode()|raw }};
            </script>

            <!-- Lista rezervacija za predstavu -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ performance.title }} - {{ performance.date|date('d.m.Y.') }}</h3>
                </div>
                <div class="box-body">
                    <table id="reservations" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Ime</th>
                            <th>Prezime</th>
                            <th>Datum rezervacije</th>
                            <th>Red/Sedište</th>
                            <th>Tip karte</th>
                            <th>Tip karte</th>
                            <th>Cena</th>
                            <th>Seat ID</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in reservations %}
                            <tr>
                                <td></td>
                                <td>
                                    {{ item.reservation.firstName }}
                                </td>
                                <td>
                                    {{ item.reservation.lastName }}
                                </td>
                                <td>
                                    {{ item.reservation.createdAt|date('d.m.Y. H:i') }}
                                </td>
                                <td>
                                    {{ item.seatRow }}/{{ item.seatNumber }}
                                </td>
                                <td>
                                    {{ item.type }}
                                </td>
                                <td>
                                    {% if item.type == 1 %}
                                        Pojedinačna
                                    {% endif %}
                                    {% if item.type == 2 %}
                                        Grupna
                                    {% endif %}
                                    {% if item.type == 3 %}
                                        Studentska
                                    {% endif %}
                                    {% if item.type == 4 %}
                                        Penzionerska
                                    {% endif %}
                                    {% if item.type == 5 %}
                                        Besplatna
                                    {% endif %}
                                    {% if item.type == 6 %}
                                        Stručna
                                    {% endif %}
                                </td>
                                <td>
                                    {{ prices[item.type]|number_format(2, ',', '.') }}
                                </td>
                                <td>
                                    {{ item.id }}
                                </td>
                                <td class="pull-right">
                                    <a data-entity-id="{{ item.id }}" class="delete-button-seat" data-toggle="modal" data-target="#modal-danger" href="#"><i class="fa fa-trash"></i></a>
                                </td>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Odabrana sedista -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Karte za prodaju</h3>
                </div>
                <div class="box-body">
                    <table id="tickets" class="table table-bordered table-striped dataTable no-footer">
                        <thead>
                            <tr>
                                <th>Red/Sedište</th>
                                <th>Tip karte</th>
                                <th>Cena</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">Ukupno:</td>
                                <td><span id="sum">0,00</span> RSD</td>
                            </tr>
                        </tfoot>
                    </table>
                    <ul id="selected-seats" class="list-unstyled"></ul>
                </div>
                <div class="box-footer">
                    <div class="form-group">
                        <button id="checkout-button" class="btn btn-success" data-toggle="modal" data-target="#modal-print"><i class="fa fa-fw fa-save"></i>&nbsp;Prodaj</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mapa sedista -->
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Red/Sedište</h3>
                </div>
                <div class="box-body">
                    <div id="ticket-map">
                        <div class="front-indicator"></div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="number" max="10" min="1" class="form-control" placeholder="Broj dodatnih stolica">
                            <span class="help">
                                Molim Vas unesite broj dodatnih stolica
                            </span>
                        </div>
                    </div>
                </div>
                <!--
                <div class="box-footer">
                    <div class="form-group">
                        <select id="tip_karte" class="form-control" required="required">
                            {#
                            {% for key,value in types %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                            #}
                        </select>
                    </div>
                    <div class="form-group">
                        <button id="checkout-button" class="btn btn-success"><i class="fa fa-fw fa-save"></i>&nbsp;Prodaja</button>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>

    <div class="modal modal-danger fade" id="modal-danger">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <h4 class="modal-title">Brisanje?</h4>
                </div>
                <div class="modal-body">
                    <p>Da li ste sigurni da želite da obrišete rezervaciju za sedište?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Odustani</button>
                    <button type="button" class="btn btn-outline delete-seat" data-entity-id="">Brisanje</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="modal modal-danger fade" id="modal-print">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <h4 class="modal-title">Prodaja karata?</h4>
                </div>
                <div class="modal-body">
                    <p>Da li ste sigurni da želite da prodate karte?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Odustani</button>
                    <button type="button" id="sell-tickets" class="btn btn-outline" data-entity-id="">Prodaj</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}



{% block javascripts %}
    {% javascripts '@admin_lte_all' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block javascripts_inline %}
    <script type="text/javascript" src="{{ asset('js/jquery.seat-charts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.select.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/loader.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/ticket.js') }}"></script>

    <script type="text/javascript">

        $(function () {

            // Kreiranje objekta koji ce se upisivati u bazu !!!!!!!!!!
            var $db = new Object();

            var $table = $('#reservations').DataTable({

                columnDefs: [
                    {
                        targets:   0,
                        orderable: false,
                        className: 'select-checkbox'
                    },
                    {
                        targets: 5,
                        visible: false
                    },
                    {
                        targets: 8,
                        visible: false
                    }
                ],
                select: {
                    style:    'multi',
                    selector: 'td:first-child'
                },

                'paging'      : true,
                'lengthChange': false,
                'searching'   : true,
                'ordering'    : false,
                'info'        : true,
                'autoWidth'   : true,
            });

            $('#reservations tbody').on( 'click', 'tr td.select-checkbox', function () {

                var $cart = $('#tickets tbody');

                if ( $(this).parent('tr').hasClass('selected') ) {

                    // brisanje reda
                    var $data = $table.row( this ).data();
                    $('#cart-item-'+$data[4].replace("/", "_")).remove();
                    delete $db[$data[4].replace("/", "_")];
                    // console.info($db);

                }
                else {

                    // kreiranje reda
                    var $data = $table.row( this ).data();
                    $cart
                        .append($('<tr>')
                            .attr('id', 'cart-item-'+$data[4].replace("/", "_"))
                            .data('seatId', $data[4].replace("/", "_"))
                            .append($('<td>')
                                .append($data[4]))
                            .append($('<td>')
                                .append($('<select>')
                                    .attr('id', 'cart-item-type-'+$data[4].replace("/", "_"))
                                    .addClass('form-control')))
                            .append($('<td>')
                                .append($('<span>')
                                    .attr('id', 'cart-item-price-'+$data[4].replace("/", "_"))
                                    .addClass('cart-item-price')
                                    .append($data[7]))));

                    $.each($cene, function(key, value) {
                        var $text;
                        switch(key) {
                            case '1':
                                $text = 'Pojedinačna';
                                break;
                            case '2':
                                $text = 'Grupna';
                                break;
                            case '3':
                                $text = 'Studentska';
                                break;
                            case '4':
                                $text = 'Penzionerska';
                                break;
                            case '5':
                                $text = 'Besplatna';
                                break;
                            case '6':
                                $text = 'Stručna';
                                break;
                        }

                        $('#cart-item-type-'+$data[4].replace("/", "_"))
                            .append($('<option></option>')
                                .attr('value',key)
                                .attr('data-entity-id',value)
                                .text($text));
                    });

                    $('#cart-item-type-'+$data[4].replace("/", "_")).val($data[5]);

                    // Kreiranje item-a koji se upisuje u bazu
                    var $object = new Object();
                    $object.seat_id = $data[8];
                    $object.seat_number = $data[4].replace("/", "_");
                    $object.type = $data[5];
                    $object.price = $data[7];
                    $object.performance_id = $performance_id;
                    $object.title = $performance.title;

                    // Dodavanje record-a u objekat koji se kasnije upisuje u bazu
                    $db[$object.seat_number] = $object;
                    // console.info($db);

                    // Izracunavanje sume na akciju promene tipa karte
                    $('#cart-item-type-'+$data[4].replace("/", "_")).change(function() {
                        $sum = 0;
                        var $price = $('option:selected', this).attr('data-entity-id');
                        $('#cart-item-price-'+$data[4].replace("/", "_")).text($price);
                        $('.cart-item-price').each(function() {
                            $sum = $sum + parseInt($(this).text());
                        });
                        $('#sum').text($sum);
                    });
                }

                // Izracunavanje sume na akciju dodavanja item-a
                var $sum = 0;
                $('.cart-item-price').each(function() {
                    $sum = $sum + parseInt($(this).text());
                });
                $('#sum').text($sum);

            });

            $('#sell-tickets').click( function (e) {
                var $url = Routing.generate('add_ticket');
                var $retval = new Object();
                $retval['seats'] = $db;
                $retval['performance_id'] = $performance_id;
                var $data = JSON.stringify($retval);
                $.ajax({
                    type: 'POST',
                    data: $data,
                    dataType: 'json',
                    url: $url,
                    success: function (data) {
                        var $retval = Routing.generate('show_ticket', {'id': data});
                        window.location.href = $retval;
                    }
                })
            });


            if ( $('#ticket-map').length > 0 ){

                // mreza za veliku scenu
                var $map = [
                    '_ffffffffffffffffff_',
                    '_ffffffffffffffffff_',
                    '_ffffffffffffffffff_',
                    '_ffffffffffffffffff_',
                    '_ffffffffffffffffff_',
                    '_ffffffffffffffffff_',
                    '_ffffffffffffffffff_',
                    '_ffffffffffffffffff_',
                    '_ffffffffffffffffff_',
                    '_ffffffffffffffffff_',
                    'ffffffffffffffffffff',
                    '_bbbbbbbbbbbbbbbbbb_',
                    '_bbbbbbbbbbbbbbbbbb_'
                ];

                var sc = $('#ticket-map').seatCharts({
                    map: $map,
                    seats: {
                        f: {
                            classes : 'first-class' //your custom CSS class
                        },
                        b: {
                            classes : 'balcony-class' //your custom CSS class
                        }
                    },
                    naming : {
                        top : false,
                        left : true,
                        right : true,
                        getId  : function(character, row, column) {
                            if(row != 11 ) {
                                column = parseInt(column)-1;
                                return row + '_' + column.toString();
                            }
                            else return row + '_' + column;
                        },
                        getLabel : function (character, row, column) {
                            if(row != 11 ) {
                                column = parseInt(column)-1;
                                return column.toString();
                            }
                            else return column;
                        }
                    },
                    legend : {
                        node : $('#legend'),
                        items : [
                            [ 'f', 'available',   'Slobodna sedišta' ],
                            [ 'f', 'unavailable', 'Zauzeta sedišta']
                        ]
                    },
                    click: function () {
                        if (this.status() == 'available') {

                            create_row_ticket(this.settings.id);

                            // Izracunavanje sume
                            var $sum = 0;
                            $('.cart-item-price').each(function() {
                                $sum = $sum + parseInt($(this).text());
                            });
                            $('#sum').text($sum);

                            return 'selected';

                        } else if (this.status() == 'selected') {

                            delete $db[this.settings.id];
                            // console.info($db);

                            //remove the item from our cart
                            $('#cart-item-'+this.settings.id).remove();

                            // Izracunavanje sume
                            var $sum = 0;
                            $('.cart-item-price').each(function() {
                                $sum = $sum + parseInt($(this).text());
                            });
                            $('#sum').text($sum);

                            return 'available';

                        } else if (this.status() == 'unavailable') {

                            //seat has been already booked
                            return 'unavailable';

                        } else {

                            return this.style();

                        }
                    }
                });
                load_seats(sc);
            }

            var create_row_ticket = function($data){

                var $cart = $('#tickets tbody');
                // add row
                $cart
                    .append($('<tr>')
                        .attr('id', 'cart-item-'+$data)
                        .data('seatId', $data)
                        .append($('<td>')
                            .append($data.replace("_", "/")))
                        .append($('<td>')
                            .append($('<select>')
                                .attr('id', 'cart-item-type-'+$data)
                                .addClass('form-control')))
                        .append($('<td>')
                            .append($('<span>')
                                .attr('id', 'cart-item-price-'+$data)
                                .addClass('cart-item-price')
                                .append($cene[1]))));

                $.each($cene, function(key, value) {

                    var $text;
                    switch(key) {
                        case '1':
                            $text = 'Pojedinačna';
                            break;
                        case '2':
                            $text = 'Grupna';
                            break;
                        case '3':
                            $text = 'Studentska';
                            break;
                        case '4':
                            $text = 'Penzionerska';
                            break;
                        case '5':
                            $text = 'Besplatna';
                            break;
                        case '6':
                            $text = 'Stručna';
                            break;
                    }

                    $('#cart-item-type-'+$data)
                        .append($('<option></option>')
                            .attr('value',key)
                            .attr('data-entity-id',value)
                            .text($text));
                });
                $('#cart-item-type-'+$data).val(1);

                // Izracunavanje sume
                $('#cart-item-type-'+$data).change(function() {
                    $sum = 0;
                    var $price = $('option:selected', this).attr('data-entity-id');
                    $('#cart-item-price-'+$data).text($price);
                    $('.cart-item-price').each(function() {
                        $sum = $sum + parseInt($(this).text());
                    });
                    $('#sum').text($sum);
                    $db[$data].price = $price;
                    $db[$data].type = $(this).val();
                    // console.info($db);
                });

                // Izracunavanje sume
                var $sum = 0;
                $('.cart-item-price').each(function() {
                    $sum = $sum + parseInt($(this).text());
                });
                $('#sum').text($sum);


                // Kreiranje item-a koji se upisuje u bazu !!!!!!!!!!
                var $object = new Object();
                $object.seat_id = null;
                $object.type = 1;
                $object.price = $cene[1];
                $object.seat_number = $data;
                $object.performance_id = $performance_id;
                $object.performance_title = $performance.title;

                // Dodavanje record-a u objekat !!!!!!!!!!
                $db[$object.seat_number] = $object;
                // console.info($db);

            };

            // brisanje sedišta
            $('.delete-button-seat').on('click', function () {
                var entityId = $(this).attr('data-entity-id');
                $('.delete-seat').attr('data-entity-id', entityId);
            });

            $('.delete-seat').click(function () {
                var entityId = $(this).attr('data-entity-id');
                var url = Routing.generate('remove_seat', {'id': entityId});
                window.location.href = url;
            });

        })
    </script>

{% endblock %}

{% block avanzu_admin_footer %}
{% endblock %}