{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block page_title %}Prodaja karata{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="{{ asset('css/jquery.seat-charts.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/select.dataTables.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/custom.css') }}" type="text/css" rel="stylesheet" />
    {% stylesheets
    '@admin_lte_css'
    filter='cssrewrite'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-md-6">

            <script type="text/javascript">
                var $performance = {{ performance|json_encode()|raw }};
            </script>

            <!-- Lista rezervacija za predstavu -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ performance['title'] }} - {{ performance['datum'] }}</h3>
                </div>
                <div class="box-body">
                    <table id="reservations" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Ime</th>
                            <th>Prezime</th>
                            <th>Datum rezervacije</th>
                            <th>Red/Sedište</th>
                            <th>Tip karte</th>
                            <th>Tip karte</th>
                            <th>Cena</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in reservations %}
                            <tr>
                                <td></td>
                                <td>
                                    {{ item.reservation.firstName }}
                                </td>
                                <td>
                                    {{ item.reservation.lastName  }}
                                </td>
                                <td>
                                    {{ item.reservation.createdAt|date('d.m.Y. H:i') }}
                                </td>
                                <td>
                                    {{ item.seatRow }}/{{ item.seatNumber }}
                                </td>
                                <td>
                                    {{ item.type }}
                                </td>
                                <td>
                                    {% if item.type == 0 %}
                                        Besplatna
                                    {% endif %}
                                    {% if item.type == 1 %}
                                        Pojedinačna
                                    {% endif %}
                                    {% if item.type == 2 %}
                                        Grupna
                                    {% endif %}
                                    {% if item.type == 3 %}
                                        Studentska
                                    {% endif %}
                                    {% if item.type == 4 %}
                                        Penzionerska
                                    {% endif %}
                                </td>
                                <td>
                                    {{ performance.cena[item.type]|number_format(2, ',', '.') }}
                                </td>
                                <td class="pull-right">
                                    <a data-entity-id="{{ item.id }}" class="delete-button-seat" data-toggle="modal" data-target="#modal-danger" href="#"><i class="fa fa-trash"></i></a>
                                </td>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Odabrana sedista -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Karte za prodaju</h3>
                </div>
                <div class="box-body">
                    <table id="tickets" class="table table-bordered table-striped dataTable no-footer">
                        <thead>
                            <tr>
                                <th>Red/Sedište</th>
                                <th>Tip karte</th>
                                <th>Cena</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">Ukupno:</td>
                                <td>0,00 RSD</td>
                            </tr>
                        </tfoot>
                    </table>
                    <ul id="selected-seats" class="list-unstyled"></ul>
                </div>
                <div class="box-footer">
                    <div class="form-group">
                        <button id="checkout-button" class="btn btn-success"><i class="fa fa-fw fa-save"></i>&nbsp;Prodaj</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mapa sedista -->
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Red/Sedište</h3>
                    <!--
                    <div class="pull-right">
                        Broj sedišta (<span id="counter">0</span>), Total: <b><span id="total">0</span> RSD</b>
                    </div>
                    -->
                </div>
                <div class="box-body">
                    <div id="ticket-map">
                        <div class="front-indicator"></div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="number" max="10" min="1" class="form-control" placeholder="Broj dodatnih stolica">
                            <span class="help">
                                Molim Vas unesite broj dodatnih stolica
                            </span>
                        </div>
                    </div>
                </div>
                <!--
                <div class="box-footer">
                    <div class="form-group">
                        <select id="tip_karte" class="form-control" required="required">
                            {#
                            {% for key,value in types %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                            #}
                        </select>
                    </div>
                    <div class="form-group">
                        <button id="checkout-button" class="btn btn-success"><i class="fa fa-fw fa-save"></i>&nbsp;Prodaja</button>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>

    <div class="modal modal-danger fade" id="modal-danger">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <h4 class="modal-title">Brisanje?</h4>
                </div>
                <div class="modal-body">
                    <p>Da li ste sigurni da želite da obrišete rezervaciju za sedište?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Odustani</button>
                    <button type="button" class="btn btn-outline delete-seat" data-entity-id="">Brisanje</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}



{% block javascripts %}
    {% javascripts '@admin_lte_all' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block javascripts_inline %}
    <script type="text/javascript" src="{{ asset('js/jquery.seat-charts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.select.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/loader.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/ticket.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            var $table = $('#reservations').DataTable({

                columnDefs: [
                    {
                        targets:   0,
                        orderable: false,
                        className: 'select-checkbox'
                    },
                    {
                        targets: 5,
                        visible: false
                    }
                ],
                select: {
                    style:    'multi',
                    selector: 'td:first-child'
                },

                'paging'      : true,
                'lengthChange': false,
                'searching'   : true,
                'ordering'    : false,
                'info'        : true,
                'autoWidth'   : true,
            });


            $('#reservations tbody').on( 'click', 'tr td.select-checkbox', function () {

                var $cart = $('#tickets tbody');

                if ( $(this).parent('tr').hasClass('selected') ) {
                    // remove row
                    $data = $table.row( this ).data();
                    $('#cart-item-'+$data[4].replace("/", "_")).remove();
                }
                else {
                    console.info($performance.cena);
                    // add row
                    $data = $table.row( this ).data();
                    /*
                    $('<tr><td>'+$data[4]+'</td><td><select class="form-control"><option>Besplatna</option><option>Pojedinačna</option></select></td><td>'+$data[7]+'</td></tr>')
                        .attr('id', 'cart-item-'+$data[4].replace("/", "_"))
                        .data('seatId', $data[4].replace("/", "_"))
                        .appendTo($cart);
                    */


                    $cart
                        .append($('<tr>')
                            .attr('id', 'cart-item-'+$data[4].replace("/", "_"))
                            .data('seatId', $data[4].replace("/", "_"))
                            .append($('<td>')
                                .append($data[4]))
                            .append($('<td>')
                                .append($('<select>')
                                    .attr('id', 'cart-item-type-'+$data[4].replace("/", "_"))
                                    .addClass('form-control')))
                            .append($('<td>')
                                .append($data[7])));

                    $.each($performance.cena, function(key, value) {

                        var $text;
                        switch(key) {
                            case '1':
                                $text = 'Pojedinačna';
                                break;
                            case '2':
                                $text = 'Grupna';
                                break;
                            case '3':
                                $text = 'Studentska';
                                break;
                            case '4':
                                $text = 'Penzionerska';
                                break;
                            case '5':
                                $text = 'Besplatna';
                                break;
                            case '6':
                                $text = 'Stručna';
                                break;
                        }

                        $('#cart-item-type-'+$data[4].replace("/", "_"))
                            .append($('<option></option>')
                                .attr('value',key)
                                .attr('data-entity-id',value)
                                .text($text));
                    });

                }

                // console.log( $table.row( this ).data() );
            } );
        })
    </script>

{% endblock %}

{% block avanzu_admin_footer %}
{% endblock %}