{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block page_title %}Predstave na repertoaru{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}

    <div class="box">
        <div class="box-body">
            <table id="items" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Predstava</th>
                    <th>Scena</th>
                    <th>Datum</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>
                            {{ item.title }}
                        </td>
                        <td>
                            {% if item.hall == 0 %}
                                Mala scena
                            {% endif %}
                            {% if item.hall == 1 %}
                                Velika scena
                            {% endif %}
                        </td>
                        <td>
                            {{ item.date|date('d.m.Y. H:i:s') }}
                        </td>
                        <td class="pull-right">
                            <a href="{{ path('show_ticket', { 'id': item.ID }) }}"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts_inline %}
    <script type="text/javascript" src="{{ asset('js/jquery.seat-charts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
{% endblock %}

{% block avanzu_admin_footer %}
{% endblock %}