{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block page_title %}{{ 'Moje rezervacije' | trans }}{% endblock %}
{% block page_subtitle %}Kratak opis vezan za formu{% endblock %}

{% block page_content %}

    <div class="box box-success">
        <div class="box-header with-border">
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <form method="get" action="{{ path('list_my_reservations') }}">
                {{ form_rest(form) }}
                <button class="btn-default btn" type="submit" name="submit-filter">
                    <i class="fa fa-search"></i>&nbsp;Pretraga
                </button>
            </form>
        </div>
    </div>

    <div class="box box-info">
        <div class="box-body">
            <table id="items" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        {# sorting of properties based on query components #}
                        <th>Predstava</th>
                        <th>Broj karata</th>
                        <th>Status rezervacije</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Datum kreiranja zahteva', 'r.createdAt') }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for item in pagination %}
                    <tr>
                        <td>
                            {{ item.title }}
                        </td>
                        <td>
                            {% if item.brojPojedinacne %}
                                <div>Pojedinačne: {{ item.brojPojedinacne }}</div>
                            {% endif %}

                            {% if item.brojGrupne %}
                                <div>Grupne: {{ item.brojGrupne }}</div>
                            {% endif %}

                            {% if item.brojStudentske %}
                                <div>Studentske: {{ item.brojStudentske }}</div>
                            {% endif %}

                            {% if item.brojPenzionerske %}
                                <div>Penzionerske: {{ item.brojPenzionerske }}</div>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.statusId == 1 %}
                                <span class="badge bg-light-blue">Zahtev</span>
                            {% endif %}
                            {% if item.statusId == 2 %}
                                <span class="badge bg-green">Rezervisano</span>
                            {% endif %}
                            {% if item.statusId == 3 %}
                                <span class="badge bg-red">Otkazano</span>
                            {% endif %}
                        </td>
                        <td>
                            {{ item.createdAt|date('d.m.Y. H:i:s') }}
                        </td>
                        <td  class="pull-right">
                            {% if item.statusId == 1 %}
                            <a href data-toggle="modal" data-target="#modal-danger" data-entity-id="{{ item.id }}" class="delete-btn"><i class="fa fa-trash"></i></a>&nbsp;
                            {% endif %}
                            {% if item.statusId == 2 %}
                            <a href="{{ path('print_reservation', { 'id': item.id }) }}" target="_blank"><i class="fa fa-print"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

    <div class="modal modal-danger fade" id="modal-danger">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete this data ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline remove_item" data-entity-id="">Delete</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}

{% block javascripts %}
    {% javascripts
    '@admin_lte_all'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<!--
    <script type="text/javascript">
        $(function () {
            $('#items').DataTable({
                'paging'      : true,
                'lengthChange': true,
                'searching'   : true,
                'ordering'    : false,
                'info'        : true,
                'autoWidth'   : true,
            })
        })
    </script>
-->
{% endblock %}

{% block javascripts_inline %}
    <script type="text/javascript" src="{{ asset('js/jquery.seat-charts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
{% endblock %}

{% block avanzu_admin_footer %}
{% endblock %}