{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block page_title %}User reservations{% endblock %}
{% block page_subtitle %}Lorem ipsum dolor sit amet{% endblock %}

{% block page_content %}

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Search</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <form method="get" action="{{ path('list_reservations') }}">
                {{ form_rest(form) }}
                <button class="btn-default btn" type="submit" name="submit-filter">
                    <i class="fa fa-search"></i>&nbsp;Find
                </button>
            </form>
        </div>
    </div>

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Reservations</h3>
        </div>
        <div class="box-body">
            <table id="items" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Performance</th>
                    <th>Seats</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for item in pagination %}
                    <tr>
                        <td>
                            {{ item.id }}
                        </td>
                        <td>
                            {{ item.title }}
                        </td>
                        <td>
                            {{ item.seatsNumber }}
                        </td>
                        <td>
                            {% if item.type == 1 %}
                                Pojedinačno
                            {% endif %}
                            {% if item.type == 2 %}
                                Grupe
                            {% endif %}
                            {% if item.type == 3 %}
                                Studenti/đaci
                            {% endif %}
                            {% if item.type == 4 %}
                                Penzionerska
                            {% endif %}
                        </td>
                        <td>
                            {% if item.statusId == 1 %}
                                <span class="label label-primary">New</span>
                            {% endif %}
                        </td>
                        <td>
                            {{ item.createdAt|date('d.m.Y. H:i:s') }}
                        </td>
                        <td>
                            <a href="{{ path('show_reservation', { 'id': item.id }) }}"><i class="fa fa-eye"></i></a>
                            <a href="{{ path('show_reservation', { 'id': item.id }) }}"><i class="fa fa-print"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {% javascripts
    '@admin_lte_all'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!--
    <script type="text/javascript">
        $(function () {
            $('#items').DataTable({
                'paging'      : true,
                'lengthChange': true,
                'searching'   : true,
                'ordering'    : false,
                'info'        : true,
                'autoWidth'   : true,
            })
        })
    </script>
    -->
{% endblock %}

{% block avanzu_admin_footer %}
{% endblock %}