{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block page_title %}{{ 'Rezervacije' | trans }}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}

    <div class="box">
        <div class="box-body">
            <table id="items" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        {# sorting of properties based on query components #}
                        <th>Predstava</th>
                        <th>Datum</th>
                        <th>Scena</th>
                        {#<th>Broj karata</th>#}
                        <th>Cena</th>
                        <th>Status</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Datum kreiranja', 'r.createdAt') }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for item in pagination %}
                    <tr>
                        <td>
                            {{ item.performance.title }}
                        </td>
                        <td>
                            {{ item.performance.datum }}
                        </td>
                        <td>
                            {% if item.scena == 0 %}
                                Mala scena
                            {% endif %}
                            {% if item.scena == 1 %}
                                Velika scena
                            {% endif %}
                        </td>
                        {#
                        <td>
                            {% if item.brojPojedinacne is defined and item.brojPojedinacne is not null %}
                                <div>Pojedinačne: {{ item.brojPojedinacne }} x {{ item.performance.cena[1]|number_format(2, ',', '.') }}</div>
                            {% endif %}

                            {% if item.brojGrupne %}
                                <div>Grupne: {{ item.brojGrupne }} x {{ item.performance.cena[2]|number_format(2, ',', '.') }}</div>
                            {% endif %}

                            {% if item.brojStudentske %}
                                <div>Studentske: {{ item.brojStudentske }} x {{ item.performance.cena[3]|number_format(2, ',', '.') }}</div>
                            {% endif %}

                            {% if item.brojPenzionerske %}
                                <div>Penzionerske: {{ item.brojPenzionerske }} x {{ item.performance.cena[4]|number_format(2, ',', '.') }}</div>
                            {% endif %}
                        </td>
                        #}
                        <td>
                            {{ item.sum|number_format(2, ',', '.') }}
                        </td>
                        <td>
                            {% if item.statusId == 1 %}
                                <span class="badge bg-light-blue">Zahtev</span>
                            {% endif %}
                            {% if item.statusId == 2 %}
                                <span class="badge bg-green">Rezervisano</span>
                            {% endif %}
                            {% if item.statusId == 3 %}
                                <span class="badge bg-red">Otkazano</span>
                            {% endif %}
                        </td>
                        <td>
                            {{ item.createdAt|date('d.m.Y. H:i:s') }}
                        </td>
                        <td  class="pull-right">
                            {% if item.statusId == 1 %}
                            <a href data-toggle="modal" data-target="#delete-reservation-modal" data-entity-id="{{ item.id }}" class="delete-reservation-btn"><i class="fa fa-trash"></i></a>&nbsp;
                            {% endif %}
                            {% if item.statusId == 2 %}
                            <a href="{{ path('print_reservation', { 'id': item.id }) }}" target="_blank"><i class="fa fa-print"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

    <div class="modal modal-danger fade" id="delete-reservation-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Brisanje zahteva</h4>
                </div>
                <div class="modal-body">
                    <p>Da li ste sigurni da želite da obrišete zahtev?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Ne želim da obrišem zahtev</button>
                    <button type="button" class="btn btn-outline delete-reservation" data-entity-id="">Želim da obrišem zahtev</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}

{% block javascripts %}
    {% javascripts
    '@admin_lte_all'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<!--
    <script type="text/javascript">
        $(function () {
            $('#items').DataTable({
                'paging'      : true,
                'lengthChange': true,
                'searching'   : true,
                'ordering'    : false,
                'info'        : true,
                'autoWidth'   : true,
            })
        })
    </script>
-->
{% endblock %}

{% block javascripts_inline %}
    <script type="text/javascript" src="{{ asset('js/jquery.seat-charts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
{% endblock %}

{% block avanzu_admin_footer %}
{% endblock %}