{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block page_title %}Reservations{% endblock %}
{% block page_subtitle %}Lorem ipsum dolor sit amet{% endblock %}

{% block page_content %}

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Search</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <form method="get" action="{{ path('list_reservations') }}">
                {{ form_rest(form) }}
                <button class="btn-default btn" type="submit" name="submit-filter">
                    <i class="fa fa-search"></i>&nbsp;Find
                </button>
            </form>
        </div>
    </div>

    <div class="box box-info">
        <div class="box-body">
            <table id="items" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Performance</th>
                    <th>Seats</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Created', 'r.createdAt') }}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for item in pagination %}
                    <tr>
                        <td>
                            {{ item.id }}
                        </td>
                        <td>
                            {{ item.user.username }}
                        </td>
                        <td>
                            {{ item.title }}
                        </td>
                        <td>
                            {{ item.seatsNumber }}
                        </td>
                        <td>
                            {% if item.type == 1 %}
                                Pojedinačno
                            {% endif %}
                            {% if item.type == 2 %}
                                Grupe
                            {% endif %}
                            {% if item.type == 3 %}
                                Studenti/đaci
                            {% endif %}
                            {% if item.type == 4 %}
                                Penzionerska
                            {% endif %}
                        </td>
                        <td>
                            {% if item.statusId == 1 %}
                                <span class="badge bg-light-blue">New</span>
                            {% endif %}
                        </td>
                        <td>
                            {{ item.createdAt|date('d.m.Y. H:i:s') }}
                        </td>
                        <td class="pull-right">
                            <a href="{{ path('show_reservation', { 'id': item.id }) }}"><i class="fa fa-pencil"></i></a>&nbsp;
                            <a href="{{ path('show_reservation', { 'id': item.id }) }}"><i class="fa fa-print"></i></a>&nbsp;
                            <a href data-toggle="modal" data-target="#modal-danger" data-entity-id="{{ item.id }}" class="delete-btn"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block avanzu_admin_footer %}
{% endblock %}