{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block page_title %}Edit reservation{% endblock %}
{% block page_subtitle %}Lorem ipsum dolor sit amet{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="{{ asset('css/jquery.seat-charts.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/custom.css') }}" type="text/css" rel="stylesheet" />
    {% stylesheets
    '@admin_lte_css'
    filter='cssrewrite'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Reservation Data</h3>
                </div>
                <div class="box-body">
                    <div class="form-horizontal">

                        <input id="reservation_id" type="hidden" value="{{ item.id }}" />
                        <input id="performance_id" type="hidden" value="{{ item.performanceId }}" />

                        <div class="form-group">
                            <label for="inputName" class="col-sm-3 control-label">ID</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="{{ item.id }}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-3 control-label">User</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="{{ item.user.username }}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-3 control-label">Performance</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="{{ item.title }}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-3 control-label">Seats</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="{{ item.seatsNumber }}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-3 control-label">Type</label>
                            <div class="col-sm-9">
                                {% if item.type == 1 %}
                                    {% set type_retval = 'Pojedinačno' %}
                                {% endif %}
                                {% if item.type == 2 %}
                                    {% set type_retval = 'Grupe' %}
                                {% endif %}
                                {% if item.type == 3 %}
                                    {% set type_retval = 'Studenti/đaci' %}
                                {% endif %}
                                {% if item.type == 4 %}
                                    {% set type_retval = 'Penzionerska' %}
                                {% endif %}
                                <input type="text" class="form-control" placeholder="{{ type_retval }}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-3 control-label">Status</label>
                            <div class="col-sm-9">
                                {% if item.statusId == 1 %}
                                    <span class="badge bg-light-blue">Zahtev</span>
                                {% endif %}
                                {% if item.statusId == 2 %}
                                    <span class="badge bg-green">Rezervisano</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-3 control-label">Created</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="{{ item.createdAt|date('d.m.Y. H:i:s') }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Lista sedista za odabranu rezervaciju -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Your Seats</h3>
                </div>
                <div class="box-body">
                    <table id="seats" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Seat</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for seat in item.seats %}
                            <tr>
                                <td>
                                    {{ seat.id }}
                                </td>
                                <td>
                                    Red: {{ seat.seatRow }} / Sedište: {{ seat.seatNumber }}
                                </td>
                                <td class="pull-right">
                                    <a href data-toggle="modal" data-target="#modal-danger" data-entity-id="{{ seat.id }}" class="delete-btn-seat"><i class="fa fa-trash"></i></a>&nbsp;
                                    <a href="{{ path('show_reservation', { 'id': item.id }) }}"><i class="fa fa-print"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Mapa sedista -->
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Seats</h3>
                </div>
                <div class="box-body">
                    <div id="seat-map">
                        <div class="front-indicator"></div>
                    </div>
                </div>
                <div class="box-footer">
                    <div id="legend"></div>
                </div>
            </div>

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Selected Seats (<span id="counter">0</span>):</h3>
                    <div class="pull-right">
                        Total: <b><span id="total">0</span> RSD</b>
                    </div>
                </div>
                <div class="box-body">
                    <ul id="selected-seats" class="list-unstyled">
                    </ul>
                </div>
                <div class="box-footer">
                    <div class="pull-right">
                        <button class="btn checkout-button btn-success">Checkout &raquo;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-danger fade" id="modal-danger">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete this data ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline remove-seat" data-entity-id="">Delete</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal modal-info fade" id="modal-info">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Loading&hellip;</h4>
                </div>
                <div class="modal-body">
                    <p>Učitavanje podataka&hellip;</p>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}


{% block javascripts_inline %}
    <script type="text/javascript" src="{{ asset('js/jquery.seat-charts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
{% endblock %}

{% block avanzu_admin_footer %}
{% endblock %}