{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block page_title %}Zahtev{% endblock %}
{% block page_subtitle %}Lorem ipsum dolor sit amet{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="{{ asset('css/jquery.seat-charts.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/custom.css') }}" type="text/css" rel="stylesheet" />
    {% stylesheets
    '@admin_lte_css'
    filter='cssrewrite'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Podaci o zahtevu/rezervaciji</h3>
                    {% if item.statusId == 1 %}
                        <span class="badge bg-light-blue pull-right">Zahtev</span>
                    {% endif %}
                    {% if item.statusId == 2 %}
                        <span class="badge bg-green pull-right">Rezervisano</span>
                    {% endif %}
                </div>
                <div class="box-body">
                    <input id="reservation_id" type="hidden" value="{{ item.id }}" />
                    <input id="performance_id" type="hidden" value="{{ item.performanceId }}" />
                    <input id="scena" type="hidden" value="{{ item.scena }}" />
                    <div class="form-group">
                        <label>Korisnik:</label>{{ item.firstName }} {{ item.lastName }}
                    </div>
                    <div class="form-group">
                        <label>Naziv predstave:</label>{{ item.performance.title }}
                    </div>
                    <div class="form-group">
                        <label>Datum predstave:</label>{{ item.performance.datum }}
                    </div>
                    {% if item.brojBesplatne %}
                    <div class="form-group">
                        <label>Besplatne karte:</label>{{ item.brojBesplatne }}
                    </div>
                    {% endif %}
                    {% if item.brojPojedinacne %}
                    <div class="form-group">
                        <label>Pojedinačne karte:</label>{{ item.brojPojedinacne }}
                    </div>
                    {% endif %}
                    {% if item.brojGrupne %}
                    <div class="form-group">
                        <label>Grupne karte:</label>{{ item.brojGrupne }}
                    </div>
                    {% endif %}
                    {% if item.brojStudentske %}
                    <div class="form-group">
                        <label>Studentske karte:</label>{{ item.brojStudentske }}
                    </div>
                    {% endif %}
                    {% if item.brojPenzionerske %}
                    <div class="form-group">
                        <label>Penzionerske karte:</label>{{ item.brojPenzionerske }}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label>Datum  kreiranja:</label>{{ item.createdAt|date('d.m.Y. H:i:s') }}
                    </div>
                </div>
            </div>

            <!-- Lista sedista za odabranu rezervaciju -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Rezervisana sedišta</h3>
                </div>
                <div class="box-body">
                    <table id="seats" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Sedište
                            <th>Tip karte</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for seat in item.seats %}
                            <tr>
                                <td>
                                    Red: {{ seat.seatRow }} / Sedište: {{ seat.seatNumber }}
                                </td>
                                <td>
                                    {% if seat.type == 1 %}
                                        <span class="badge bg-light-blue">Pojedinačna</span>
                                    {% endif %}
                                    {% if seat.type == 2 %}
                                        <span class="badge bg-light-blue">Grupna</span>
                                    {% endif %}
                                    {% if seat.type == 3 %}
                                        <span class="badge bg-light-blue">Studentska</span>
                                    {% endif %}
                                    {% if seat.type == 4 %}
                                        <span class="badge bg-light-blue">Penzionerska</span>
                                    {% endif %}
                                    {% if seat.type == 5 %}
                                        <span class="badge bg-light-blue">Besplatna</span>
                                    {% endif %}
                                    {% if seat.type == 6 %}
                                        <span class="badge bg-light-blue">Stručna</span>
                                    {% endif %}
                                </td>
                                <td class="pull-right">
                                    <a href data-toggle="modal" data-target="#modal-danger" data-entity-id="{{ seat.id }}" class="delete-btn-seat"><i class="fa fa-trash"></i></a>&nbsp;
                                    <a href="{{ path('show_reservation', { 'id': item.id }) }}"><i class="fa fa-print"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Mapa sedista -->
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Sedišta</h3>
                    <!--
                    <div class="pull-right">
                        Broj sedišta (<span id="counter">0</span>), Total: <b><span id="total">0</span> RSD</b>
                    </div>
                    -->
                </div>


                <div class="box-body">
                    <div id="seat-map">
                        <div class="front-indicator"></div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="number" max="10" min="1" class="form-control" placeholder="Broj dodatnih stolica">
                            <span class="help">
                                Molim Vas unesite broj dodatnih stolica
                            </span>
                        </div>
                    </div>
                </div>

                <!--
                <div class="box-body row">
                    <div id="seat-map" class="col-md-9">
                        <div class="front-indicator"></div>
                    </div>
                    <div class="col-md-3">
                        <select id="tip_karte" class="form-control" required="required">
                            {% for key,value in item.reservationTypes %}
                            <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                        <button id="checkout-button" class="btn btn-success"><i class="fa fa-fw fa-save"></i>&nbsp;Snimi odabrana sedišta</button>
                        <ul id="selected-seats" class="list-unstyled"></ul>
                        <button id="close-reservation-button" class="btn btn-danger" data-toggle="modal" data-target="#modal-close-reservation" data-entity-id="{{ app.request.attributes.get("id") }}"><i class="fa fa-fw fa-lock"></i>&nbsp;Zatvori rezervaciju</button>
                    </div>
                </div>
                -->
                <div class="box-footer">
                    <div class="form-group">
                        <select id="tip_karte" class="form-control" required="required">
                            {% for key,value in item.reservationTypes %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button id="checkout-button" class="btn btn-success"><i class="fa fa-fw fa-save"></i>&nbsp;Snimi</button>
                        <button id="close-reservation-button" class="btn btn-danger" data-toggle="modal" data-target="#modal-close-reservation" data-entity-id="{{ app.request.attributes.get("id") }}"><i class="fa fa-fw fa-lock"></i>&nbsp;Zatvori</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-danger fade" id="modal-danger">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">?</h4>
                </div>
                <div class="modal-body">
                    <p>Da li ste sigurni?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Odustani</button>
                    <button type="button" class="btn btn-outline remove-seat" data-entity-id="">Brisanje</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal modal-danger fade" id="modal-close-reservation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Zatvaranje rezervacije</h4>
                </div>
                <div class="modal-body">
                    <p>Da li ste sigurni?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Odustani</button>
                    <button type="button" id="close_reservation_button" class="btn btn-outline" data-entity-id="">Zatvaranje</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}


{% block javascripts_inline %}
    <script type="text/javascript" src="{{ asset('js/jquery.seat-charts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/loader.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
{% endblock %}

{% block avanzu_admin_footer %}
{% endblock %}